@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5rem;
    background-color: #111;
   
}
@media  (max-width: 660px){
    .main{
        font-size: 10px;
    }
}
.main span{
    animation: glow 2.9s ease-in-out infinite;

}
@keyframes glow{
    0% ,70%{
        color:#fff;
      
       border-radius: 20px;
       text-align: center;
       align-items: start;
       letter-spacing: 5px;
      
        text-shadow: 0 0 12px  rgb(0, 247, 255) ,0 0 50px rgb(0, 247, 255),0 0 100px rgb(0, 247, 255) ;
    }
    70%, 100%{
        color: #111;
       text-shadow: none;
       letter-spacing: 4px;
       
        
    }


}

.main  :nth-child(1){
    animation-delay: 0.25s;
    
   
  
   cursor: pointer;
   transform: rotate(45deg);

letter-spacing: 30px;
}
.main :nth-child(2){
    animation-delay: 0.5s;
}
.main   :nth-child(3){
    animation-delay: 0.75s;
    
}
.main  :nth-child(4){
    animation-delay: 1s;
}
